httpx
python-dotenv
pydantic-ai
streamlit
pydantic-ai-slim[openai,logfire]
supabase
crawl4ai
requests
sqlalchemy
psycopg2-binary
pgvector
flask
flask[async]
langdetect>=1.0.9
opencc-python-reimplemented>=0.1.7
gunicorn