httpx~=0.28.1
python-dotenv~=1.1.0
pydantic-ai
streamlit~=1.45.0
pydantic-ai-slim[openai,logfire]
supabase~=2.15.1
crawl4ai~=0.6.2
requests~=2.32.3
sqlalchemy~=2.0.40
psycopg2-binary
pgvector~=0.4.1
flask~=3.1.0
flask[async]
langdetect>=1.0.9
opencc-python-reimplemented>=0.1.7
openai~=1.75.0
logfire~=3.15.0
opencc~=1.1.9
pandas~=2.2.3
psutil~=7.0.0
pydantic~=2.11.4